{% extends "base.html" %}
{% load static %}
{% load pagination %}

{% block more_head %}
<link href="{% get_static_prefix %}apps/css/nav_panel.css" rel="stylesheet">
<link href="{% get_static_prefix %}apps/css/app_button.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row no-gutters">
    <div class="col-md-4">
        <div class="navigation-panel">
            {% ifequal navbar_selected_link "all" %}
                <a href="{% url 'all_apps' %}">
                    <span class="all-apps-title title active">All Apps</span>
                </a>
            {% else %}
                <a href="{% url 'all_apps' %}">
                    <span class="all-apps-title title">All Apps</span>
                </a>
            {% endifequal %}
            <h3>
                <strong>Categories</strong>
            </h3>
            <div>
                <ul class="navigation-list">
                    <li style="margin-bottom:15px;">

                    </li>
                    {% for tag in top_tags %}
                        {% if tag.count > 0 %}
                    <li>
                        <span {% ifequal tag.name selected_tag_name %} class="active" {% endifequal %}>
                            <a href="{% url 'tag_page' tag.name %}">
                                <span class="title">{{ tag.fullname }}</span>
                                <span class="count">({{ tag.count }})</span>
                            </a>
                        </span>
                    </li>
                        {% endif %}
                    {% endfor %}
		    <li>
                        <ul class="navigation-list" id="not-top-tags">
                            {% for tag in not_top_tags %}
                                {% if tag.count > 0 %}
                            <li>
                                <span {% ifequal tag.name selected_tag_name %} class="active" {% endifequal %}>
                                    <a href="{% url 'tag_page' tag.name %}">
                                        <span class="title">{{ tag.fullname }}</span>
                                        <span class="count">({{ tag.count }})</span>
                                    </a>
                                </span>
                            </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
		{% if not_top_tags %}
                    <button class="btn btn-info btn-md more-btn" id="more-button">More</button>
                {% endif %}
            </div>
            <div id="tag-cloud">
              {% for tag in all_tags %}
              <a {% ifequal tag.name selected_tag_name %} class="tag-cloud-active" {% endifequal %} style="font-size: {{ tag.font_size_em }}em" href="{% url 'tag_page' tag.name %}">{{tag.fullname}}</a>
              {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-8">
        {% block main %}{% endblock %}
    </div>
</div>

<script type="text/javascript" src="{% get_static_prefix %}apps/js/nav_panel.js"></script>
{% endblock %}
