{% extends "base.html" %}
{% load dict %}
{% load static %}

{% block more_head %}
	<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}apps/css/wall_of_apps.css"/>
{% endblock %}

{% block title %}
 - Wall of Apps
{% endblock %}

{% block content %}
	<h1>
		Wall of Apps
		<small>{{ total_apps_count }} total</small>
	</h1>
	<!-- place each release in a category -->
	<table class="table">
		{% for tag in ordered_tags %}
			<tr>
				<td>{{ tag }} ({{ tags|get_item:tag|length }})</td>
				<td>
					{% for app in tags|get_item:tag %}
						{# Only display latest release #}
						{% for release in app|slice:"0:1" %}
							<a href="{% url 'app_page' release.app.Bundle_SymbolicName %}">
								<i class="app-icon" rel="tooltip" title="{{ release.app.Bundle_Name }}" style="background-image: url({{ release.logo_url }}); background-size: 75px 75px;"></i>
							</a>
						{% endfor %}
					{% endfor %}
				</td>
			</tr> 
		{% endfor %}
	</table>
	<script type="text/javascript">
		$(function() {
			$('.app-icon[rel=tooltip]').tooltip();
		});
	</script>
{% endblock %}
