.app-icon {
    width: 64px;
    height: 64px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0.5em;
    padding: 0.5em;
    display: inline-block;
}

.app-icon:hover {
    background-color: #EDEDCA;
}