{% extends "base.html" %}
{% load static %}

{% block title %} - Get Help{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <h1 class="font-weight-bold ml-3">Questions?</h1>
        </div>
    </div>
    <div class="ml-5 mt-4">
        <p>
            For help with developing IGB Apps, post to <a target="_blank"
                                                                href="https://groups.google.com/forum/#!forum/igb-app-developers">IGB
            App Developers Group</a>.
        </p>
        <p>
            For help with using Apps for Integrated Genome Browser or any other IGB-related topic, post to the
            <a target="_blank"
               href=" https://groups.google.com/forum/#!forum/integrated-genome-browser-help-desk">IGB
                Help Desk</a>.
        </p>
    </div>
{% endblock %}
